n8n/aslan-drive-workflow.json
{
  "name": "Aslan Drive Daily Data Pipeline",
  "nodes": [
    {
      "parameters": {},
      "id": "1",
      "name": "Daily Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [240, 300],
      "credentials": {},
      "settings": {
        "cronExpression": "0 6 * * *"
      }
    },
    {
      "parameters": {
        "url": "http://portainer.local:9000/api/endpoints/1/docker/containers",
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "jsonParameters": true,
        "bodyParametersJson": "{\n  \"Image\": \"aslan_drive_data_ingestion:latest\",\n  \"AttachStdout\": true,\n  \"AttachStderr\": true,\n  \"Env\": [\n    \"DATABASE_URL=postgresql://trader:{{ $env.POSTGRES_PASSWORD }}@aslan_postgres:5432/aslan_drive\",\n    \"CONTINUOUS_MODE=false\",\n    \"LOG_LEVEL=info\"\n  ],\n  \"HostConfig\": {\n    \"NetworkMode\": \"aslan_network\",\n    \"RestartPolicy\": {\n      \"Name\": \"no\"\n    }\n  },\n  \"Name\": \"aslan_data_ingestion_n8n_{{ $now.format('YYYYMMDD_HHmmss') }}\"\n}",
        "options": {}
      },
      "id": "2",
      "name": "Start Data Ingestion",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "1",
          "name": "Portainer API Token"
        }
      }
    },
    {
      "parameters": {
        "url": "http://portainer.local:9000/api/endpoints/1/docker/containers/{{ $json.Id }}/start",
        "authentication": "headerAuth",
        "requestMethod": "POST"
      },
      "id": "3",
      "name": "Execute Container",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [640, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "1",
          "name": "Portainer API Token"
        }
      }
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      },
      "id": "4",
      "name": "Wait for Completion",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [840, 300],
      "webhookId": ""
    },
    {
      "parameters": {
        "url": "http://portainer.local:9000/api/endpoints/1/docker/containers/{{ $('Start Data Ingestion').item.json.Id }}",
        "authentication": "headerAuth"
      },
      "id": "5",
      "name": "Check Container Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1040, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "1",
          "name": "Portainer API Token"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.State.ExitCode }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals",
                "rightType": "number"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1240, 300]
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "minutes"
      },
      "id": "7",
      "name": "Wait Before Health Check",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1440, 200],
      "webhookId": ""
    },
    {
      "parameters": {
        "url": "http://portainer.local:9000/api/endpoints/1/docker/containers",
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "jsonParameters": true,
        "bodyParametersJson": "{\n  \"Image\": \"aslan_drive_health_check:latest\",\n  \"AttachStdout\": true,\n  \"AttachStderr\": true,\n  \"Env\": [\n    \"DATABASE_URL=postgresql://trader:{{ $env.POSTGRES_PASSWORD }}@aslan_postgres:5432/aslan_drive\",\n    \"SLACK_WEBHOOK_URL={{ $env.SLACK_WEBHOOK_URL }}\",\n    \"CONTINUOUS_MODE=false\",\n    \"LOG_LEVEL=info\"\n  ],\n  \"HostConfig\": {\n    \"NetworkMode\": \"aslan_network\",\n    \"RestartPolicy\": {\n      \"Name\": \"no\"\n    }\n  },\n  \"Name\": \"aslan_health_check_n8n_{{ $now.format('YYYYMMDD_HHmmss') }}\"\n}"
      },
      "id": "8",
      "name": "Start Health Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1640, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "1",
          "name": "Portainer API Token"
        }
      }
    },
    {
      "parameters": {
        "url": "http://portainer.local:9000/api/endpoints/1/docker/containers/{{ $json.Id }}/start",
        "authentication": "headerAuth",
        "requestMethod": "POST"
      },
      "id": "9",
      "name": "Execute Health Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1840, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "1",
          "name": "Portainer API Token"
        }
      }
    },
    {
      "parameters": {
        "webhookUrl": "={{ $env.SLACK_WEBHOOK_URL }}",
        "text": "🚨 Aslan Drive Data Ingestion Failed",
        "attachments": [
          {
            "color": "danger",
            "fields": [
              {
                "title": "Container ID",
                "value": "={{ $('Start Data Ingestion').item.json.Id }}",
                "short": true
              },
              {
                "title": "Exit Code",
                "value": "={{ $('Check Container Status').item.json.State.ExitCode }}",
                "short": true
              },
              {
                "title": "Timestamp",
                "value": "={{ $now.format('YYYY-MM-DD HH:mm:ss') }}",
                "short": false
              }
            ]
          }
        ]
      },
      "id": "10",
      "name": "Alert Failure",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [1440, 400],
      "credentials": {
        "slackWebhookApi": {
          "id": "2",
          "name": "Slack Webhook"
        }
      }
    },
    {
      "parameters": {
        "url": "http://portainer.local:9000/api/endpoints/1/docker/containers/{{ $('Start Data Ingestion').item.json.Id }}/remove",
        "authentication": "headerAuth",
        "requestMethod": "DELETE"
      },
      "id": "11",
      "name": "Cleanup Container",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2040, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "1",
          "name": "Portainer API Token"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Daily Trigger": {
      "main": [
        [
          {
            "node": "Start Data Ingestion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Data Ingestion": {
      "main": [
        [
          {
            "node": "Execute Container",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Container": {
      "main": [
        [
          {
            "node": "Wait for Completion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Completion": {
      "main": [
        [
          {
            "node": "Check Container Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Container Status": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Wait Before Health Check",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Alert Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Before Health Check": {
      "main": [
        [
          {
            "node": "Start Health Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Health Check": {
      "main": [
        [
          {
            "node": "Execute Health Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Health Check": {
      "main": [
        [
          {
            "node": "Cleanup Container",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alert Failure": {
      "main": [
        [
          {
            "node": "Cleanup Container",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "aslan-drive-workflow"
  },
  "id": "1",
  "tags": [
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "1",
      "name": "trading"
    },
    {
      "createdAt": "2024-01-01T00:00:00.000Z", 
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "2",
      "name": "data-pipeline"
    }
  ]
}